@charset "UTF-8";
/* CSS Document */

#mainView {
	padding: 1em 1em;
	text-align: center;
}

#mainView table {
	padding: 1em 1em;
	text-align: center;
	width: 100%;
}

#forecastView {
	padding: 1em 1em;
	text-align: center;
}

#forecastView table {
	padding: 1em 1em;
	text-align: center;
	width: 100%;
}

.row {
	padding-bottom: .5em;	
}

#contentTitle {
	padding-bottom: 1em;
	text-align: left;
	font-weight: 600;
	font-size: 1em;
	text-transform: uppercase;
}

#contentSection {
	text-align: left;
	font-weight: 500;
	color: #999;
	font-size: .9em;
	text-transform: uppercase;
}

#contentDetails {
	text-align: left;
	border: 1px solid #ccc; 
	padding: .7em;
}

#contentTable {
	background: white;
	border-style: none;
}

#contentTable td {
	background: white;
	border-style: none;
}

a.ublue, a.ublue:visited, a.ublue:link, a.ublue:active {
	text-decoration: none;
	color: #1051bb;
}

a.ublue:hover {
	text-decoration: underline;
}

.currentTemp {
	font-weight: 600;
	font-size: 1.7em;
	paddin-bottom: 5px;
}

.weatherDesc {
	font-weight: 600;
	text-transform: capitalize;
}

.weatherDescFuture {
	text-transform: capitalize;
}

.todaysSubcat {
	margin-right: 1em;
}

#query {
	width: 20em;	
}
